<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.github.deveshg.eclipse.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.github.deveshg.eclipse.rcp.Perspective"
            id="com.github.deveshg.eclipse.rcp.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="com.github.deveshg.eclipse.rcp.View"
            id="com.github.deveshg.eclipse.rcp.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="com.github.deveshg.eclipse.rcp.NavigationView"
            id="com.github.deveshg.eclipse.rcp.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="com.github.deveshg.eclipse.rcp.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="com.github.deveshg.eclipse.rcp.category"
            id="com.github.deveshg.eclipse.rcp.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="com.github.deveshg.eclipse.rcp.category"
            id="com.github.deveshg.eclipse.rcp.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.github.deveshg.eclipse.rcp.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+O">
      </key>
      <key
            commandId="com.github.deveshg.eclipse.rcp.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+M">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+Q">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.github.deveshg.eclipse.rcp.application"
            name="RCP Mail Application">
         <property
               name="appName"
               value="RCP Mail Application">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="aboutText"
               value="RCP Mail Application">
         </property>
         <property
               name="windowImages"
               value="product_lg.gif,product_lg.gif">
         </property>
      </product>
   </extension>

</plugin>
