<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.github.eclipse.gef.enterprisemodel.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.github.eclipse.gef.enterprisemodel.Perspective"
            id="com.github.eclipse.gef.enterpriseModel.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.github.eclipse.gef.example.editor.MyEditor"
            contributorClass="com.github.eclipse.gef.example.editor.MyActionBarContributor"
            default="true"
            id="com.github.eclipse.gef.enterpriseModel.EEditor"
            name="MyEditor">
      </editor>
   </extension>

</plugin>
